@import url('https://fonts.googleapis.com/css2?family=Asimovian&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#navbar1 {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: black;
  padding: 0.5rem 2rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.413);
  height: 75px;
}

.brandname {
  color: white !important;
  font-weight: 700;
  font-family: 'Asimovian', sans-serif !important;
  font-size: 25px !important; 
}

.brandname2 {
  color: #ffc107;
  font-family: 'Asimovian', sans-serif !important;
  font-size: 25px !important; 
}

.nav-link {
  color: white !important;
  font-size: 18px !important;
}

.dropdown-menu {
  background: black;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background: #ffc107;
  color: black;
}

/* CART */
.cart-icon {
  position: relative;
  color: white;
  font-size: 22px;
}

#cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background: red;
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 50%;
}

/* OFFCANVAS HALF WIDTH */
.offcanvas-start {
  width: 70% !important;
  background: black;
  color: white;
}
#mobileMenu{
    background-color:black ;
}
#mobileMenu h5{
    color: white;
}
#mobileMenu button{
    color: white;
    background-color: white;
}
